/*Google Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@1,500&display=swap);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-align: center;
}
.account{
    width: 100%;
    height: 100vh;
    background: url(/Images/texture.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 120px;
}
.reviews{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px;
}
.revw_card{
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    border-radius: 30px;
    border: 5px solid black;
    box-shadow: 0 1px 30px 15px skyblue;
    background-color: white;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding: 20px;
}
.revw_card .image{
    width:450px;
    height: 250px;
}
.revw_card h2{
    font-family:'Lobster';
    font-size: 30px;
    margin-top: -40px;
}
.revw_card h3{
    font-family: 'Georgia';
    font-size: 25px;
}
.revw_card h5{
    font-family: 'Agency FB';
    color: gray;
    font-size: 20px;
}
.revw_card #adcrt{
    font-family:fantasy;
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #b13f5c;
    transition: ease-out 0.3s;
    font-size: 25px;
    outline: none;
    border-style:groove;
    margin-right: 20px;
    background-color: cyan;
}
.revw_card #adcrt:hover{
    font-family:'Bauhaus 93';
    box-shadow: inset 180px 0 0 0 #050505;
    cursor: pointer;
    color: white;

}
.revw_card #byn{
    font-family:fantasy;
    margin-top: 30px;
    width: 180px;
    height: 50px;
    border: none;
    color: black;
    background-color: white;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #b13f5c;
    transition: ease-out 0.3s;
    font-size: 25px;
    outline: none;
    border-style:groove;
    background-color: cyan;
}
.revw_card #byn:hover{
    font-family:'Bauhaus 93';
    box-shadow: inset 180px 0 0 0 #050505;
    cursor: pointer;
    color: white;
}